<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body class="atm-body">
    <div class="atm-screen">
        <div class="screen-content">
            <h1>Rizwan Banking System</h1>
            <h2>Thank You</h2>
            <p>For using our ATM service.</p>
            <p>Please take your card.</p>
            <br>
            <a href="/login" class="action-btn">New Session</a>
        </div>
    </div>
</body>

</html>